@import "tailwindcss";

:root {
    --background: #f9f9ff;
    --foreground: #282727;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: linear-gradient(90deg, rgba(32, 6, 80, 0.9884746134782038) 0%, rgba(18, 1, 38, 0.9772701316854867) 35%, rgba(20, 15, 28, 1) 100%);
        --foreground: #ededed;
    }
}

body {
    background: var(--background);
    color: var(--foreground);
}